body {
    text-align: center;
    background-image: url("https://static.videezy.com/system/resources/thumbnails/000/011/021/original/looping-black-triangular-background-animation.jpg");
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    padding-right: 16px;
    font-family: 'Fascinate', cursive;
    font-size: 40px
}

.img {
    border: 5px solid lightgray;
}

.img:hover  {
    border: 5px solid lightslategrey;
}

a {
    color: white;
}

a:hover {
    color: gray;
}

.navbar {
    text-align: left;
}

.p {
    padding-top: 50px;
}

input {
    background-color: #343a40;
    color: white;
}

textarea {
    background-color:  #343a40;
    color: white;
}

#name {
    padding-right: 40px
}

#email {
    padding-right: 41px
}

.reset {
    padding-right: 400px;
}

.submit {
    padding-left: 400px;
}

.copyright {
    padding-left: 545px;
}