body {
    text-align: center;
    background-image: url("https://hdqwalls.com/download/vaporwave-zl-1366x768.jpg");
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    padding-right: 16px;
    font-family: 'Fascinate', cursive;
    font-size: 40px
}

.img {
    border: 5px solid lightgray;
}

.img:hover {
    border: 5px solid lightslategray;
}

.vid {
    width: 540px; 
    height: 307.97px;
    margin-left: 12px;
}

.img2 {
    width: 540px; 
    height: 307.97px;
    margin-right: 12px;
}

a {
    color: white;
}

a:hover {
    color: gray;
}

.navbar {
    font-size: 14px;
    font-family: 'Press Start 2P', cursive;
}

.p {
    padding-top: 50px;
    opacity: solid;
}

input {
    background-color: #343a40;
    color: white;
}

textarea {
    background-color:  #343a40;
    color: white;
}

#name {
    padding-right: 40px
}

#email {
    padding-right: 41px
}

.reset {
    padding-right: 400px;
}

.submit {
    padding-left: 400px;
}

.copyright {
    padding-left: 545px;
}

/* <!-- couldn't change font at all for some reason --> */
#copyrightfont {
    font-family: 'Quicksand', sans-serif;
}

.contact {
    font-family: 'Kanit', sans-serif;
}

#bioBox {
    background-color: black;
    opacity: 50%;
}

@media only screen and (max-width: 1024px) {
    [class*="copyright"] {
        padding-left: 455px;
    }
}

@media only screen and (max-width: 768px) {
    [class*="submit"] {
        padding-left: 0px;
    }
    [class*="reset"] {
        padding-right: 0px;
    }
    [class*="copyright"] {
        padding-left: 330px;
    }
}

@media only screen and (max-width: 414px) {
    [class*="submit"] {
        padding-left: 0px;
    }
    [class*="reset"] {
        padding-right: 30px;
        padding-top: 20px;
    }
    [class*="copyright"] {
        padding-left: 155px;
    }
    [id*="responsiveMargin"] {
        margin-right: 25px;
    }
}

@media only screen and (max-width: 375px) {
    [class*="submit"] {
        padding-left: 0px;
    }
    [class*="reset"] {
        padding-right: 30px;
        padding-top: 20px;
    }
    [class*="copyright"] {
        padding-left: 155px;
    }
    [id*="responsiveMargin"] {
        margin-right: 25px;
    }
}