body {
    background-image: url("../../images/vaporwave.jpg");
    /* Credit goes to hdqwalls.com. Author is anonymous */
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

.container a {
    color: white;
    cursor: pointer;
}

h1 {
    padding-right: 16px;
    font-family: 'Fascinate', cursive;
    font-size: 40px;
    margin-top: 1em;
}

.img {
    border: 5px solid lightpink;
    /* width: 540px; */
    /* height: 307.97px; */
}

a:hover, a.nav-link:hover, a#project-box {
    color: palevioletred;
}

.navbar {
    font-size: 14px;
    font-family: 'Press Start 2P', cursive;
}

.nav-link {
    color: white;
}

input {
    background-color: #343a40;
    color: white;
}

textarea {
    background-color:  #343a40;
    color: white;
    height: 300px;
    max-width: 345px
}

.contact {
    font-family: 'Kanit', sans-serif;
}

.bio-box {
    /* background-color: black;
    opacity: 50%; */
    background: rgba(0, 0, 0, 0.7);
}

#project-box {
    background: rgba(0, 0, 0, 0.7);
}